.health-bar {
  height: 12px;
  width: 60vw;
  background-color: #ffffff;
  border: 4px #ffffff solid;
  border-radius: 5px;
  align-content: end;
  margin-right: 8px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.27);
}

.health-indicator {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: rgba(204, 86, 68, 0.754);
}
